{% extends 'flight/layout.html' %}

{% block body %}
<h1>Flights</h1>

    {% if flights %}
    <table class="table table-hover">
    <caption>Total: {{ lenght }}</caption>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Origin</th>
        <th scope="col">destenation</th>
        <th scope="col">duration</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
    {% for flight in flights %}
        <tr>
          <td><a href="{% url 'flight' flight.id %}">{{flight.id}}</a></td>
          <td>{{flight.origin.city}}</td>
          <td>{{flight.destination.city}}</td>
          <td>{{flight.duration}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <h2>No Flights</h1>
    {% endif %}


{% endblock %}